---
import BaseLayout from '../layouts/BaseLayout.astro';
const { cartItems } = Astro.props;

---

<script>
  // Obtener el carrito desde localStorage o inicializarlo como un array vacío
  const getCartItems = () => {
    const cart = JSON.parse(localStorage.getItem('cart') || '[]');
    return Array.isArray(cart) ? cart : [];
  };

  const cartItems = getCartItems(); // Inicializa los items del carrito

</script>

<BaseLayout>
  <h1>Tu Carrito</h1>
  {!cartItems || cartItems.length === 0 ? (
    <p>Tu carrito está vacío y siempre estará vacío 🙃.</p>
  ) : (
    <ul>
      {cartItems?.map((item: { name: string; price: number ; }) => (
        <li>{item?.name} - {item?.price}</li>
      ))}
    </ul>
  )}

  <a href="/productos">Seguir comprando</a>

</BaseLayout>
