---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<h1>Nuestra Historia</h1>
<p>
    Aquí puedes añadir la historia completa del lugar, desde su fundación hasta
    la actualidad.
</p>
</BaseLayout>
<style>
    h1 {
        text-align: center;
    }
</style>
