---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Bienvenido a Nuestro Espacio Ambiental Hoya del Caballo</h1>
	<p>Descubre la belleza natural y la rica historia que nuestro lugar tiene para ofrecer.</p>
</BaseLayout>

  <style>
    h1 {
        text-align: center;
    }
</style>