---
const { product } = Astro.props;

//function handleClick() {
//  alert(`Has comprado ${product}!`);
//}
---

<button class="buy-button" onclick="alert('Has comprado!')">
    Comprar
  </button>
  <button class="buy-button" onclick="alert('Has comprado!')">
    Añadir al carrito
  </button>

<style>
.buy-button {
  background-color: #ffafcc;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #ff8fa3;
}
</style>
