---
const menuItems = [
  { title: 'Inicio', link: '/' },
  { title: 'Historia', link: '/historia' },
  { title: 'Localizaciones', link: '/localizaciones' },
  { title: 'Productos', link: '/productos' },
  { title: 'Contacto', link: '/contacto'} // Enlace a la página de compras
];

const { cartItems = [] } = Astro.props;
---

<header class="header">
  <nav>
    <ul>
      {menuItems.map(item => (
        <li><a href={item.link}>{item.title}</a></li>
      ))}
    
    <div class="cart">
      <a href="/carrito">
         Carrito ({cartItems.length}) <!-- Muestra el número de productos en el carrito -->
      </a>
    </div>
  </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    background-color: #006d77;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el nav ocupe el 100% del ancho */
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin: 0 15px;
    background-color: #007f7f; /* Cambia el color de fondo */
    padding: 10px 20px; /* Agrega relleno interno */
    border-radius: 5px; /* Bordes redondeados */
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  .cart {
    font-size: 18px;
    margin-left: auto; /* Alinea el carrito a la derecha */
  }

  .cart a {
    color: white;
    text-decoration: none;
    background-color: #007f7f; /* Cambia el color de fondo */
    padding: 10px 20px; /* Agrega relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold;
    display: flex;
    align-items: center; /* Alinea el icono y el texto verticalmente */
    gap: 5px; /* Espacio entre el icono y el texto */
  }

  .cart a:hover {
    background-color: #005f5f; /* Cambia el color de fondo al hacer hover */
  }

  .cart a::before {
    content: '🛒'; /* Icono del carrito */
    margin-right: 5px;
  }

  @media (max-width: 768px) {
  .header {
    flex-direction: column; /* Cambia la dirección del header a vertical */
    align-items: flex-start;
  }

  .header .nav {
    width: 100%; /* Ocupa todo el ancho */
    margin-top: 10px;
  }

  .header .nav-list {
    flex-direction: column; /* Muestra los elementos en columna */
    gap: 10px;
  }

  .header .nav-list li a {
    font-size: 1.2rem;
  }
}
</style>


